RewriteEngine On

RewriteBase /GOJIRA/project_demo/

RewriteRule ^server/(.*) server/$1 [L]
RewriteRule ^system/(.*) system/$1 [L]
RewriteRule ^webroot/(.*) webroot/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ engine.php?query=$1&%{QUERY_STRING} [L]

RewriteRule ^ engine.php?%{QUERY_STRING} [L]